
.animacion1 {
    transition: 1s;
    &:hover {
      transform: translateY(15px);
      background-color: red;
    }
  }

.animacion2{
    animation-name: agrandarse;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count:infinite;
}
@keyframes agrandarse{
    0%{
        font-size: 15px;
        width: 100%;
        border-radius: 25%;
        font-family: $fontsecundaria;
    }
    50%{
        font-size: 25px;
        width: 100%;
        border-radius: 25%;
        font-family: $fontsecundaria;
    }
    100%{
        font-size: 15px;
        width: 100%;
        border-radius: 25%;
        font-family: $fontsecundaria;
    }
}