#{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
@font-face {
    font-family: "graduate" ;
    src: url("../fonts/Graduate-Regular.ttf");
}
@font-face {
    font-family: "besley";
    src: url("../fonts/Besley-VariableFont_wght.ttf");
}
body {
    background-color: black;
    color: white;
    margin-top: 5rem;
}
.font1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.font2{
    font-family: "graduate";
    text-align: center;
}
header{
    background-color: rgb(0, 0, 0);
    display: flex;
    gap: 30rem;
    grid-gap: 30rem;
   
}

.main{
    align-items: center;
    text-align: center;
}
.cajaindex{
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
    padding: 3rem;
    box-sizing: auto;
    
}

.text{
    margin-top: 3rem;
    text-align: left; 
    line-height: 30px; 
}
.index-img{
   text-align: center;
    
}
  
.links{
    text-decoration: none;
    color: white;
    font-style: oblique;
}
.footer{
    text-align: center;
}
.footer a{
    margin: 1rem;
    padding-bottom: 3rem;
}


h1{
    text-decoration: underline;
}
/* Pagina Integrantes */
.h1-int{
    text-align: center ;
    
}
/* Pagina discografia */

.contenedor{
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns:  repeat(4,1fr) ;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "caja0 caja0 caja2 caja2"
    "caja0 caja0 caja2 caja2 "
    "caja3 caja3 caja4 caja4 "
    "caja3 caja3 caja4 caja4" ;
 }
 .cajas{
    width: 400px;
    height: auto;
    background-color: rgb(63, 63, 63);
    margin: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
   
 }
 .caja0{
    grid-area: caja0;
    
}
.caja2{
    grid-area: caja2;
}
.caja3{
    grid-area: caja3;
}
.caja4{
    grid-area: caja4;
}
.h1-disc{
    text-align: center;
}

/* Pagina Tour */
.main-tour{
    padding: 3rem;
}
.h1-tour{
    text-align: center;
}
.tour-grid{
    display: flex;
    gap: 2rem;
}
.tour-titulo{
    text-align: center;
}

.tour-text{
    text-align: center;
}
.carousel-inner > .carousel-item > img {
    object-fit: scale-down;
    height: 50vh;
    width: 100%;
  }
/* Pagina Merch */
.h1-merch{
    text-align: center;
}
/* Pagina contacto */
.caja{
    width: 350px;
    height: auto;
    background-color: rgb(63, 63, 63);
    margin: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto; 
    box-sizing: border-box;
    
}

@media screen and (max-width: 480px) {
   .contenedor{
    grid-template-columns:  1fr ;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "caja0"
    "caja2"
    "caja3"
    "caja4" ;}

    /* contacto */
    .caja{ 
        width: 100%;
    }
    /* index */
    .cajaindex{
        display: flex;
        flex-direction:column;
        text-align: center;
        align-items: center;
        padding-left: 10px;
        
    }
    .text{
        text-align: left; 
        line-height: 30px; 
        font-size: 60%;
    }
    .index-img{
        width: 75vw;
        max-width: 1000px;
        min-width: 300px;
        margin: auto;
    }
    .img1{
        width: 100%;
        border-radius: 15px;
        box-shadow: 0px 3px 5px rgba(15,15,15,.5);
    }
    .index-vid{
        width: 100%;
        border-radius: 15px;
        box-shadow: 0px 3px 5px rgba(15,15,15,.5);
    }
    .index-h3{
       font-size: 100%;
    }
    
}